@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
	font-family: 'Google Sans Reg';
	src: url('/GoogleSansDisplay-Regular.ttf');
}

@font-face {
	font-family: 'Google Sans Bold';
	src: url('/GoogleSansDisplay-Bold.ttf');
}

body {
	margin: 0%;
	background: url('/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 25px;
}

.printbar {
	background: white;
	position: relative;
	top: -100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Google Sans Reg';
}

.printbar h1 {
	margin: 0;
}
.printbar p {
	margin-bottom: 0;
	margin-left: 10px;
	font-weight: 300;
}
.printbar b {
	margin-right: 10px;
}
.printbar button {
	padding: 20px 40px;
	height: 100%;
	font-size: 20px;
	background: white;
	transition: all 0.3s;
	cursor: pointer;
	color: #ea4335;
	font-family: 'Google Sans Bold';
	border-radius: 50px;
}

.printbar button:hover {
	background: #bff3cd;
	/* box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.262); */
}

.pbody {
	display: none;
}

#root {
	margin: 0%;
}

.home,
.certificate {
	background: aliceblue;
	font-family: 'Google Sans Reg';
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 50px;
	height: 100%;
}

.home h1 {
	font-size: 50px;
}

.home img,
.certificate img {
	/* position: absolute;
	top: 10%; */
	height: clamp(30px, 10vw, 60px);
	transition: all 0.3s;
}

.home a {
	cursor: pointer;
	position: relative;
	top: 15%;
}

.certificate form {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.certificate form > * {
	margin: 10px;
}

.certificate form input {
	padding: 8px;
	width: 60vw;
	font-size: 20px;
	appearance: none;
	border: none;
	border-bottom: black 2px solid;
	transition: all 0.2s ease-in-out;
	transition-behavior: smooth;
	background: transparent;
}

.certificate form input:focus {
	outline: none;
	border-radius: 20px;
	border: black 2px solid;
}

.certificate form label {
	font-size: 20px;
}

.certificate form button {
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	color: #ea4335;
	background: #69d887;
	border-radius: 50px;
}

.certificate form button:hover {
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.262);
}

main {
	margin: 20px 0px;
}

.mainp {
	background: url('/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 11.7in;
	width: 8.3in;
	padding: 25px;
}

* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact !important;
	color-adjust: exact !important;
	print-color-adjust: exact !important;
}

.container {
	background-color: aliceblue;
	gap: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.containerp {
	gap: 0px;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0px 10px;
}

.logo-gdg {
	height: 30px;
}

.logo-srmcem {
	height: 50px;
}

.certificate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Google Sans Bold';
	padding: 0px 20px;
}

.certificate > h1 {
	font-size: 40px;
	color: #ea4335;
	text-decoration-line: underline;
	text-decoration-color: #f5bf4a;
	margin: 0;
}

#sp1 {
	color: #34a853;
}

#sp2 {
	color: #4285f4;
}

.certificate > h2 {
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 10px;
}

.certificate > p {
	font-size: 18px;
	font-family: 'Open Sans', cursive;
}

.signatures {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.signatures > * {
	height: 2px;
	width: 100px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signatures > *::after {
	content: 'Signature';
}

.badges {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
	padding: 30px;
	width: 100%;
}

.badge {
	width: clamp(160px, 30vw, 270px);
	padding: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	background: white;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.262);
}

.badge > .badge-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.badge > .badge-img {
	width: 90%;
	position: relative;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}
